.education {
    padding: 6.25rem 0px 5rem;
    background-image: url('../assets/images/educ-bg.jpg');
    &__container {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 18.75rem;
    }
    &__top {
        width: 17.5rem;
        height: 5rem;
        // background: #DCC5FF;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 2.81rem;
        text-align: center;
        // box-shadow: 0 8px 10px 0 rgba(0, 0, 0, 0.25);
    }
    &__bot {
        width: 56.25rem;
        height: 15rem;
        background: #DCC5FF;
        border-radius: 2.81rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 2.5rem;
        box-shadow: 0 8px 10px 0 rgba(0, 0, 0, 0.25);
    }
    &__descr1 {
        font-family: 'Comfortaa', sans-serif;
        font-size: 1.375rem;
        font-weight: 500;
    }
    &__descr2 {
        font-family: 'Comfortaa', sans-serif;
        font-size: 1.125rem;
        text-align: center;
    }
    &__button {
        font-family: 'Comfortaa', sans-serif;
    }

}