.header {
    height: 10vh;
    padding-top: 1rem;
}
.nav {
    display: flex;
    justify-content: center;
    align-items: center;
    &__list {
        display: flex;
        gap: 3.75rem;
        font-family: 'Great Vibes', sans-serif;
        font-size: 1.75rem;
        color: var(--text);
        font-weight: 500;
    }
    &__item:hover {
        border-bottom: 2px solid var(--gold);
        transform: translateY(0.44rem);
    }
    &__item {
        transition: 0.3s;
        border-bottom: 2px solid #00000000;
    }
}