.hero {
    height: 90vh;
    width: 100vw;

    &__inner {
        display: flex;
        align-items: center;
        justify-content: start;
        text-align: center;
        height: 80%;
    }
    &__text {
        font-family: 'Great Vibes', sans-serif;
        &-title {
            font-size: 5.625rem;
            color: var(--gold);
            margin-bottom: 10%;
        }
        &-descr {
            font-size: 2.5rem;
            color: var(--text);
        }
    }
    &__button {
        &-con {
            display: flex;
            width: 100%;
            justify-content: center;
            font-family: 'Comfortaa', sans-serif;
        }
    }
}