:root {
    // colors
    --bg: #EADDFF;
    --text: #3D2A54;
    --accentbg: #DCC5FF;
    --purple: #6A45A0;
    --gold: #8E6800;

    // container 
    --container-width: 81.25vw;
    --container-padding: 1.04vw;
}
